<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="cap32_Drive" values="0|1" default="0"/>
		<setting label="30002" type="select" id="cap32_Model" values="464|664|6128" default="464"/>
		<setting label="30003" type="select" id="cap32_Ram" values="64|128|192|512|576" default="64"/>
		<setting label="30004" type="select" id="cap32_RetroJoy" values="disabled|enabled" default="disabled"/>
		<setting label="30005" type="select" id="cap32_Statusbar" values="disabled|enabled" default="disabled"/>
		<setting label="30006" type="select" id="cap32_autorun" values="disabled|enabled" default="disabled"/>
		<setting label="30007" type="select" id="cap32_resolution" values="384x272|768x544" default="384x272"/>
		<setting label="30008" type="select" id="cap32_scr_intensity" values="5|6|7|8|9|10|11|12|13|14|15" default="5"/>
		<setting label="30009" type="select" id="cap32_scr_tube" values="disabled|enabled" default="disabled"/>
	</category>
</settings>
